.idea
.vscode
.DS_Store

*.iws
*.iml
*.ipr
*.exe
*.zip
*.tgz
*.tar
*.npy
*.fif
*.xes
*.feather

vm/
val/
data/
wandb/
mnist/
train/
cifar-10/
dataset/
__pycache__/
.pytest_cache/
dataset_small/
catboost_info/
lightning_logs/

build/

node_modules/
package-lock.json

!.gitkeep